<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express Js MVC Structure</title>
  </head>
  <body>
    <h2>Home Page of Our Application</h2>
    <div>
      <h3>Name: <%= name %></h3>
      <h3>University: <%= locals.campus %></h3>
    </div>
  </body>
</html>
